<!--    修改地点信息-->
    <update id="updatePlace">
        update place
        <set>
            <if test="placeName!= null and placeName!='' ">
                place_name = #{placeName},
            </if>
            <if test="subsNum = '0' or subsNum!=null and subsNum!=''">
                subs_num = #{subsNum},
            </if>
            <if test="status!=null">
                status = #{status}
            </if>
        </set>
        where place.id=#{id};
    </update>
<!--    批量删除地点-->
    <delete id="deleteByIds">
        delete from place
        where id in <foreach collection="ids" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>