    <insert id="insertUser">
        insert into user(card_id,tele,user_name,addr)
        values (#{cardID},#{tele},#{userName},#{home})
    </insert>
    <select id="getUserId" resultType="java.lang.Integer">
        select id
        from user
        where card_id = #{cardID}
    </select>


</mapper>